/* Univsersal Selectors */



/* Class Selectors */

.background {
    background-image: linear-gradient(to bottom right, black, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    margin-top: 20px;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 100px;
    max-width: 100%;
    background-color: rgb(180, 180, 180);
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
    justify-content: center;
    text-align: center;
}

.generate-btn {
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-radius: 10px;
    width: 10%;
    font-size: 1.5vw;
    font: Helvetica, Arial, Sans-Serif;
}

.celeb-gen {
    margin-left: 30%;
    margin-right: 30px;
    margin-bottom: 200px;
    width: 300px;
    height: 400px;
    max-width: 30%;
    max-height: 5%;
    background-color: white;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
}

.villain-gen {
    margin-right: 30%;
    margin-left: 30px;
    margin-bottom: 200px;
    width: 300px;
    height: 400px;
    max-width: 30%;
    max-height: 5%;
    background-color: white;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 99%;
}

.flex-container {
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 3vw;
    color: white;
    text-align: center;
}

h2 {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
}